<div class="container">

    <!-- Vertical tab -->
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="milestones-tab" data-bs-toggle="tab" data-bs-target="#milestones"
                type="button" role="tab" aria-controls="milestones" aria-selected="true">Milestones</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="bugs-tab" data-bs-toggle="tab" data-bs-target="#bugs" type="button" role="tab"
                aria-controls="bugs" aria-selected="false">Bugs</button>
        </li>
    </ul>
    <div class="tab-content p-2" id="myTabContent">
        <div class="tab-pane fade show active" id="milestones" role="tabpanel" aria-labelledby="milestones-tab">
            <!-- <div class="row">
                <button type="button" class="btn btn-outline-primary normal-button" (click)="collapse.toggle();buttonClick();"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                    <span> <i [class]=" isToggle ? 'fa fa-arrow-down' : 'fa fa-arrow-right' "></i>  </span> Toggle
                </button>
            </div>
            <div class="row">
                <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="no-show">
                    <div class="card">
                        <div class="card-body">
                            You can collapse this card by clicking Toggle
                        </div>
                    </div>
                </div>
            </div> -->
            <table class="table">
                <tbody>
                    <tr>
                        <button class="btn btn-primary normal-button-open" (click)="open(content)">+ Add a
                            Milestone</button>
                        <button class="btn btn-primary normal-button-open m-2" (click)="open(task)">+ Add a
                            Task</button>
                    </tr>
                    <tr *ngFor="let item of result; let i = index;">
                        
                        <th scope="row">
                            <div class="row">
                                <button type="button" class="btn btn-outline-primary normal-button"
                                    (click)="collapse.toggle();buttonClick(item);"
                                    [attr.aria-expanded]="item.tasks && (item['_id'] == isCollapsed)"
                                    aria-controls="collapseExample">
                                    <span> <i
                                            [class]="item.tasks && (item['_id'] == isCollapsed) ? 'fa fa-arrow-down' : 'fa fa-arrow-right' "></i>
                                    </span> {{item.title}}
                                </button>
                            </div>

                            <div class="row">
                                <div #collapse="ngbCollapse" [(ngbCollapse)]="item['_id'] != isCollapsed"
                                    class="no-show">
                                    <ng-container *ngIf="item.tasks">
                                        <div class="card">
                                            <!-- {{item.tasks | json}} -->
                                            <div class="card-body py-0">
                                                <table class="table py-0 m-0">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Title</th>
                                                            <th scope="col">Assignees</th>
                                                            <th scope="col">Status</th>
                                                            <th scope="col">Start Date</th>
                                                            <th scope="col">End Date</th>
                                                            <th scope="col">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngIf="item.tasks">
                                                        <tr *ngFor="let item of item?.tasks;let i = index;"
                                                            style="font-weight: 400;">
                                                            <th style="width: 40%;font-weight: 400;" scope="row">
                                                                <!-- {{item | json}} -->
                                                                <!-- {{item[0] | json}} -->
                                                                <ng-container
                                                                    *ngIf="item?.title?.length > 40; else normalTitle;">
                                                                    {{item[0].title.slice(0, 40)}}...
                                                                </ng-container>

                                                                <ng-template #normalTitle>
                                                                    {{item[0].title}}
                                                                </ng-template>

                                                            </th>
                                                            <ng-container *ngIf="item[0].assignee">
                                                                <td class="d-flex justify-content-between">
                                                                    <span
                                                                        *ngFor="let item of item[0].assignee; let i = index;">
                                                                        <div style="
                                                                        border-radius: 100%;
                                                                        width: 35px;
                                                                        height: 35px;
                                                                        line-height: 35px;
                                                                        border-radius: 50%;
                                                                        font-size: 15px;
                                                                        color: #fff;
                                                                        text-align: center;
                                                                        background: grey" data-toggle="tooltip"
                                                                            data-placement="top"
                                                                            title="{{item.item_text}}">
                                                                            {{item.item_text[0].toUpperCase()}}</div>
                                                                    </span>

                                                                </td>
                                                            </ng-container>
                                                            <td>{{item[0].status}}</td>
                                                            <td *ngIf="item[0].startDate">{{item[0].startDate |
                                                                customDatePipe}}</td>
                                                            <td *ngIf="item[0].endDate">{{item[0].endDate | customDatePipe}}
                                                            </td>
                                                            <td>
                                                                <!-- <button class="updateTasks-button"
                                                                    (click)="updateTasks(item);open(editTask);">
                                                                    <i class="fa fa-pencil"></i>
                                                                </button> -->

                                                                <button data-toggle="tooltip" data-placement="right" title="View Bugs related to this tasks." style="background: none; border: none;" routerLink="../tasks/{{item[0]._id}}">
                                                                    <i class="fa fa-info"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </ng-container>

                                </div>

                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade p-2" id="bugs" role="tabpanel" aria-labelledby="bugs-tab">
            <app-bugs-tracking></app-bugs-tracking>
        </div>
    </div>
    <!-- Vertical tab -->

    <!-- Add a milestone dialog -->
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add a Milestone</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="milestonesForm">
                <div class="p-1">
                    <label for="dateOfBirth" class="py-2">Title</label>
                    <div class="input-group">
                        <input type="text" class="form-control" formControlName="title">
                        <!-- <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button> -->
                    </div>

                    <div class="error"
                        *ngIf="milestonesForm.controls['title'].touched && milestonesForm.controls['title'].errors">
                        <div *ngIf="milestonesForm.controls['title'].errors['required']">
                            Title field is required.
                        </div>

                        <div *ngIf="milestonesForm.controls['title'].hasError('whitespace')">
                            Title Cannot contain only spaces
                        </div>

                    </div>
                </div>

                <div class="p-1">
                    <label for="dateOfBirth" class="py-2">Description</label>
                    <div class="input-group">
                        <textarea type="text" class="form-control" formControlName="description"></textarea>
                        <!-- <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button> -->
                    </div>

                    <div class="error"
                        *ngIf="milestonesForm.controls['description'].touched && milestonesForm.controls['description'].errors">
                        <div *ngIf="milestonesForm.controls['description'].errors['required']">
                            Description field is required.
                        </div>
                    </div>
                </div>

                <div class="p-1">
                    <label for="dateOfBirth" class="py-2">Status</label>
                    <div class="input-group">
                        <select id="statusSelect" class="form-select" formControlName="status">
                            <option value="active">Active</option>
                            <option value="not-started">Not Started</option>
                            <option value="completed">Completed</option>
                            <option value="on-hold">On Hold</option>
                        </select>
                    </div>

                    <div class="error"
                        *ngIf="milestonesForm.controls['status'].touched && milestonesForm.controls['status'].errors">
                        <div *ngIf="milestonesForm.controls['status'].errors['required']">
                            Status field is required.
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button [disabled]="!milestonesForm.valid" type="button" class="btn btn-primary"
                (click)="onAddMilestones();">Add</button>
            <button type="button" class="btn btn-primary" (click)="closeDialog();">Cancel </button>
        </div>
    </ng-template>
    <!-- Add a milestone dialog -->

    <!-- Add a task dialog -->
    <ng-template #task let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add a Task</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="tasksForm">
                <div class="p-1">
                    <label for="dateOfBirth" class="py-2">Title</label>
                    <div class="input-group">
                        <input type="text" class="form-control" formControlName="title">
                        <!-- <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button> -->
                    </div>

                    <div class="error"
                        *ngIf="tasksForm.controls['title'].touched && tasksForm.controls['title'].errors">
                        <div *ngIf="tasksForm.controls['title'].errors['required']">
                            Title field is required.
                        </div>

                        <div *ngIf="tasksForm.controls['title'].hasError('whitespace')">
                            Title Cannot contain only spaces
                        </div>

                    </div>
                </div>

                <div class="p-1">
                    <label for="dateOfBirth" class="py-2">Assignee</label>
                    <!-- <select id="clientStatus" class="form-select" (change)="updateAssignee(item, $event)"
                        formControlName="assignee">
                        <option value="" disabled selected>Please select one option</option>
                        <option value="manish_pamnani">Manish Pamnani</option>
                        <option value="lalit_singh_fatehpuria">Lalit Prakash Fatehpuria</option>
                        <option value="kamal_suyal">Kamal Suyal</option>
                        <option value="fahim_khokar">Fahim Khokar</option>
                        <option value="sonu_sharma">Sonu Sharma</option>
                    </select> -->
                    <ng-multiselect-dropdown [placeholder]="'Select an assignee'" [settings]="dropdownSettings"
                        [data]="dropdownList" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                        formControlName="assignee">
                    </ng-multiselect-dropdown>

                    <div class="error"
                        *ngIf="tasksForm.controls['assignee'].touched && tasksForm.controls['assignee'].errors">
                        <div *ngIf="tasksForm.controls['assignee'].errors['required']">
                            Assignee field is required.
                        </div>
                    </div>
                </div>

                <div class="p-1">
                    <label for="dateOfBirth" class="py-2">Status</label>
                    <div class="input-group">
                        <select id="statusSelect" class="form-select" formControlName="status">
                            <option value="active">Active</option>
                            <option value="not-started">Not Started</option>
                            <option value="completed">Completed</option>
                            <option value="on-hold">On Hold</option>
                        </select>
                    </div>

                    <div class="error"
                        *ngIf="tasksForm.controls['status'].touched && tasksForm.controls['status'].errors">
                        <div *ngIf="tasksForm.controls['status'].errors['required']">
                            Status field is required.
                        </div>
                    </div>
                </div>

                <div class="p-1">
                    <label for="milestone" class="py-2">Milestone</label>
                    <div class="input-group">
                        <select id="milestonesSelect" class="form-select" formControlName="milestones">
                            <option *ngFor="let item of result; let i = index;" value="{{item._id}}">{{item.title}}
                            </option>
                        </select>
                    </div>

                    <div class="error"
                        *ngIf="tasksForm.controls['milestones'].touched && tasksForm.controls['milestones'].errors">
                        <div *ngIf="tasksForm.controls['milestones'].errors['required']">
                            Milestone field is required.
                        </div>
                    </div>
                </div>

                <div class="p-1">
                    <label for="startDate" class="py-2">Start Date</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="YYYY-MM-DD" name="dp" ngbDatepicker #d="ngbDatepicker"
                            formControlName="startDate" [minDate]="minDate" (dateSelect)="setEndDate($event);isEndDateDisabled = false;" [readonly]="true">
                        <button class="btn btn-outline-secondary calendar"
                            (click)="d.toggle();" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                        <!-- <ngb-datepicker  #dp (navigate)="date = $event.next"></ngb-datepicker> -->

                    </div>

                    <div class="error"
                        *ngIf="tasksForm.controls['startDate'].touched && tasksForm.controls['startDate'].errors">
                        <div *ngIf="tasksForm.controls['startDate'].errors['required']">
                            Start Date is required.
                        </div>
                    </div>
                </div>

                <div class="p-1">
                    <label for="endtDate" class="py-2">End Date</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="YYYY-MM-DD" name="endDate" ngbDatepicker
                            #endDate="ngbDatepicker" formControlName="endDate"
                            [minDate]="endMinDate" [readonly]="true" [disabled]="isEndDateDisabled" (dateSelect)="onEndDateSelect($event)">
                        <button [disabled]="isEndDateDisabled" class="btn btn-outline-secondary calendar" (click)="endDate.toggle();" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                        <!-- <ngb-datepicker  #dp (navigate)="date = $event.next"></ngb-datepicker> -->

                    </div>

                    <div class="error"
                        *ngIf="tasksForm.controls['endDate'].touched && tasksForm.controls['endDate'].errors">
                        <div *ngIf="tasksForm.controls['endDate'].errors['required']">
                            End Date is required.
                        </div>
                    </div>

                    <!-- {{isEndDateSmaller}} -->
                    <div class="error"  *ngIf="isEndDateSmaller">
                        End Date is smaller than Start Date.
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button [disabled]="!tasksForm.valid" type="button" class="btn btn-primary"
                (click)="onAddTasks();">Add</button>
            <button type="button" class="btn btn-primary" (click)="closeDialog();">Cancel </button>
        </div>
    </ng-template>
    <!-- Add a task dialog -->

    <!-- Edit a task dialog -->
    <ng-template #editTask let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Edit a Task</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="editTasksForm">
                <div class="p-1">
                    <label for="dateOfBirth" class="py-2">Title</label>
                    <div class="input-group">
                        <input type="text" class="form-control" formControlName="title">
                        <!-- <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button> -->
                    </div>

                    <div class="error"
                        *ngIf="editTasksForm.controls['title'].touched && editTasksForm.controls['title'].errors">
                        <div *ngIf="editTasksForm.controls['title'].errors['required']">
                            Title field is required.
                        </div>

                        <div *ngIf="editTasksForm.controls['title'].hasError('whitespace')">
                            Title Cannot contain only spaces
                        </div>

                    </div>
                </div>

                <div class="p-1">
                    <label for="dateOfBirth" class="py-2">Assignee</label>
                    <!-- <select id="clientStatus" class="form-select" (change)="updateAssignee(item, $event)"
                        formControlName="assignee">
                        <option value="" disabled selected>Please select one option</option>
                        <option value="manish_pamnani">Manish Pamnani</option>
                        <option value="lalit_singh_fatehpuria">Lalit Prakash Fatehpuria</option>
                        <option value="kamal_suyal">Kamal Suyal</option>
                        <option value="fahim_khokar">Fahim Khokar</option>
                        <option value="sonu_sharma">Sonu Sharma</option>
                    </select> -->
                    <ng-multiselect-dropdown [placeholder]="'Select an assignee'" [settings]="dropdownSettings"
                        [data]="dropdownList" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                        formControlName="assignee">
                    </ng-multiselect-dropdown>


                    <div class="error"
                        *ngIf="editTasksForm.controls['assignee'].touched && editTasksForm.controls['assignee'].errors">
                        <div *ngIf="editTasksForm.controls['assignee'].errors['required']">
                            Assignee field is required.
                        </div>
                    </div>
                </div>

                <div class="p-1">
                    <label for="dateOfBirth" class="py-2">Status</label>
                    <div class="input-group">
                        <select id="statusSelect" class="form-select" formControlName="status">
                            <option value="active">Active</option>
                            <option value="not-started">Not Started</option>
                            <option value="completed">Completed</option>
                            <option value="on-hold">On Hold</option>
                        </select>
                    </div>

                    <div class="error"
                        *ngIf="editTasksForm.controls['status'].touched && editTasksForm.controls['status'].errors">
                        <div *ngIf="editTasksForm.controls['status'].errors['required']">
                            Status field is required.
                        </div>
                    </div>
                </div>

                <div class="p-1">
                    <label for="startDate" class="py-2">Start Date</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="YYYY-MM-DD" name="dp" ngbDatepicker #d="ngbDatepicker"
                            formControlName="startDate" [minDate]="minDate" (dateSelect)="setEndDate($event);isEndDateDisabled = false;" [readonly]="true">
                        <button class="btn btn-outline-secondary calendar"
                            (click)="d.toggle();" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                        <!-- <ngb-datepicker  #dp (navigate)="date = $event.next"></ngb-datepicker> -->

                    </div>

                    <div class="error"
                        *ngIf="editTasksForm.controls['startDate'].touched && editTasksForm.controls['startDate'].errors">
                        <div *ngIf="editTasksForm.controls['startDate'].errors['required']">
                            Start Date is required.
                        </div>
                    </div>
                </div>

                <div class="p-1">
                    <label for="endtDate" class="py-2">End Date</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="YYYY-MM-DD" name="endDate" ngbDatepicker
                            #endDate="ngbDatepicker" formControlName="endDate"
                            [minDate]="endMinDate" [disabled]="isEndDateDisabled" [readonly]="true" (dateSelect)="onEndDateSelect($event)">
                        <button [disabled]="isEndDateDisabled" class="btn btn-outline-secondary calendar" (click)="endDate.toggle();" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                        <!-- <ngb-datepicker  #dp (navigate)="date = $event.next"></ngb-datepicker> -->

                    </div>

                    <div class="error"
                        *ngIf="editTasksForm.controls['endDate'].touched && editTasksForm.controls['endDate'].errors">
                        <div *ngIf="editTasksForm.controls['endDate'].errors['required']">
                            End Date is required.
                        </div>
                    </div>
                </div>

                <div class="p-1">
                    <label for="milestone" class="py-2">Milestone</label>
                    <div class="input-group">
                        <select id="milestonesSelect" class="form-select" formControlName="milestones">
                            <option *ngFor="let item of result; let i = index;" value="{{item._id}}">{{item.title}}
                            </option>
                        </select>
                    </div>

                    <div class="error"
                        *ngIf="editTasksForm.controls['status'].touched && editTasksForm.controls['status'].errors">
                        <div *ngIf="editTasksForm.controls['status'].errors['required']">
                            Status field is required.
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button [disabled]="!editTasksForm.valid" type="button" class="btn btn-primary"
                (click)="onEditTasks();">Edit</button>
            <button type="button" class="btn btn-primary" (click)="closeDialog();">Cancel </button>
        </div>
    </ng-template>
    <!-- Edit a task dialog -->



    <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->

    <hr>
</div>

