<div>

  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Assignee</th>
        <th scope="col">Bug status</th>
        <th scope="col">Priority</th>
      </tr>


    </thead>
    <tbody>

      <!-- 1 row -->
      <tr>
        <th scope="row">Andriod screen issue</th>
        <td>Mark</td>
        <td><span class="badge bg-primary">In progress</span></td>
        <td>Low</td>
      </tr>

      <tr class="border">
        <th>
          <select name="developer" id="developer">
            <option value="">Develoepr stuff</option>
          </select>
        </th>

        <th>
          <select name="tester" id="tester">
            <option value="">Tester stuff</option>
          </select>
        </th>

        <th>
          <select name="client" id="client">
            <option value="">Client stuff</option>
          </select>
        </th>
      </tr>

      <!-- 1 row -->


      <!-- 2 row -->
      <tr>
        <th scope="row">2</th>
        <td>Mark</td>
        <td><span class="badge bg-warning text-dark">In review</span></td>
        <td>Low</td>
      </tr>

      <tr class="border">
        <th>
          <select name="developer" id="developer">
            <option value="">Develoepr stuff</option>
          </select>
        </th>

        <th>
          <select name="tester" id="tester">
            <option value="">Tester stuff</option>
          </select>
        </th>

        <th>
          <select name="client" id="client">
            <option value="">Client stuff</option>
          </select>
        </th>
      </tr>

      <!-- 2 row -->

      <!-- 3 row -->
      <tr>
        <th scope="row">3</th>
        <td>Mark</td>
        <td><span class="badge bg-danger">Bug persists</span></td>
        <td>Medium</td>
      </tr>

      <tr class="border">
        <th>
          <select name="developer" id="developer">
            <option value="">Develoepr stuff</option>
          </select>
        </th>

        <th>
          <select name="tester" id="tester">
            <option value="">Tester stuff</option>
          </select>
        </th>

        <th>
          <select name="client" id="client">
            <option value="">Client stuff</option>
          </select>
        </th>
      </tr>

      <!-- 3 row -->

      <!-- 4 row -->
      <tr>
        <th scope="row">3</th>
        <td>Mark</td>
        <td><span class="badge bg-success">Done</span></td>
        <td>High</td>
      </tr>

      <tr class="border">
        <th>
          <select name="developer" id="developer">
            <option value="">Develoepr stuff</option>
          </select>
        </th>

        <th>
          <select name="tester" id="tester">
            <option value="">Tester stuff</option>
          </select>
        </th>

        <th>
          <select name="client" id="client">
            <option value="">Client stuff</option>
          </select>
        </th>
      </tr>

      <!-- 4 row -->
    </tbody>
  </table>
  <!-- Table -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add bug</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addBugForm">
            <div class="mb-3">
              <label for="">Title</label>
              <input type="text" class="form-control" id="exampleInputTitle" aria-describedby="titleJelp"
                placeholder="Title" formControlName="title"/>

                <div  class="error" *ngIf="addBugForm.controls['title'].touched && addBugForm.controls['title'].errors">
                  <div  *ngIf="addBugForm.controls['title'].errors['required']">
                    Title field is required.
                  </div>
                </div>
            </div>

            <div class="mb-3">
              <label for="">Assignee</label>
              <select id="assigneeSelect" class="form-select" aria-placeholder="Assignee" formControlName="assignee">
                <option value="developer">Develoepr</option>
                <option value="tester">Tester</option>
                <option value="client">Client</option>
              </select>

              <div  class="error" *ngIf="addBugForm.controls['assignee'].touched && addBugForm.controls['assignee'].errors">
                <div  *ngIf="addBugForm.controls['assignee'].errors['required']">
                  Assignee field is required.
                </div>
              </div>

            </div>

            <div class="mb-3">
              <label for="">Priority</label>
              <select id="prioritySelect" class="form-select" aria-placeholder="Priority" formControlName="priority">
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
              </select>

              <div  class="error" *ngIf="addBugForm.controls['priority'].touched && addBugForm.controls['priority'].errors">
                <div  *ngIf="addBugForm.controls['priority'].errors['required']">
                  Priority field is required.
                </div>
              </div>

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button [disabled]="!addBugForm.valid" type="button" class="btn btn-primary" (click)="onSubmit()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add +</button>
</div>