<table class="table table-bordered table-sm ">
    <thead class="thead-dark">
        <tr>
            <th>Column</th>
            <th>Column</th>
            <th>Column</th>
            <th>Column</th>
        </tr>
    </thead>
    <tbody>
        <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="false" aria-controls="group-of-rows-1">
            <td><div>+</div></td>
            <td>data</td>
            <td>data</td>
            <td>data</td>
        </tr>
    </tbody>
    <tbody id="group-of-rows-1" class="collapse">
        <tr class="table-warning">
            <td><div>+</div> child row</td>
            <td>data 1</td>
            <td>data 1</td>
            <td>data 1</td>
        </tr>
        <tr class="table-warning">
            <td><div>+</div> child row</td>
            <td>data 1</td>
            <td>data 1</td>
            <td>data 1</td>
        </tr>
    </tbody>
    <tbody>
        <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-2" aria-expanded="false" aria-controls="group-of-rows-2">
            <td><div>+</div></td>
            <td>data</td>
            <td>data</td>
            <td>data</td>
        </tr>
    </tbody>
    <tbody id="group-of-rows-2" class="collapse">
        <tr class="table-warning">
            <td><div>+</div> child row</td>
            <td>data 2</td>
            <td>data 2</td>
            <td>data 2</td>
        </tr>
        <tr class="table-warning">
            <td><div>+</div> child row</td>
            <td>data 2</td>
            <td>data 2</td>
            <td>data 2</td>
        </tr>
    </tbody>
</table>

<!-- https://www.codeply.com/go/ANCIOF2n0M/bootstrap-table-with-collapsible-rows-by-bootstrap-4 -->
<!-- bootstrap table with collapsible rows -->